<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>



    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.example.schoolproject.Utils.FirebaseOffline"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolProject">

        <activity
            android:name=".Activites.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activites.ServiceListing" />
        <activity android:name=".Activites.ProductListing" />
        <activity android:name=".Activites.ProductStatsActivity" />
        <activity android:name="com.example.schoolproject.Activites.FragmentMerger" />
        <activity android:name="com.example.schoolproject.Activites.ProfileShopActivity" />
        <activity android:name="com.example.schoolproject.Activites.MainActivity" />
        <activity android:name="com.example.schoolproject.Activites.SavedMerger" />
        <activity android:name="com.example.schoolproject.Activites.ShopInfoActivity" />
        <activity android:name="com.example.schoolproject.Activites.GigListing" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>